<main class="room" data-tab-index="0">
  <section class="audiencia_header">
    <div class="container">
      <div class="row top-buffer row-eq-height valign">
        <div class="col-md-12">
          <div class="col-sm-6">
            <div class="col-md-3 text-center">
              <img src="/img/ICONOS_TEXTO/PORTAL_06-35.png" alt="image" style="width:150px;">
            </div>
            <div class="col-md-3 col-sm-3 text-center">
              <h1 style="margin-top: 1.3em; margin-left: 2em;">
                <strong class="text-uppercase">Mineduc</strong>
              </h1>
            </div>
            <div class="row">
              <div class="col-md-12 text-justify">
                <p style="margin-top: 2em;">
                  Siga y comparta las preguntas hechas por los diputados
                  durante las interpelaciones
                </p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-6">
            <iframe
              src={{model.audiencia.slideshareUrl}}
              width="500"
              height="335"
              frameborder="0"
              marginwidth="0"
              marginheight="0"
              scrolling="no"
              style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"
              allowfullscreen
            >
            </iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section style="background-color: #29ABE2;">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <div class="col-md-6 col-sm-6 text-center">
            <h2 style="margin-top:50px; margin-bottom:50px; color:white;">
              <strong class="text-uppercase">Interpelacion</strong>
            </h2>
          </div>
          <div class="col-md-6 text-center" style="background-color:white;">
          <div class ="row">
            <div class="col-md-4 col-sm-4 text-center">
              <h4 id="button" style="margin-top:50px; margin-left:0px; margin-bottom:50px; color:purple;">
                <strong >Descargar Presentación</strong>
              </h4>
            </div>
            <div class="col-md-4 col-sm-4 text-center">
              <h4 id="button" style="margin-top:50px; margin-left:0px; margin-bottom:50px; color:purple;">
                <strong >Dinos que piensas</strong>
              </h4>
            </div>
            <div class="col-md-4 col-sm-4 text-center">
              <h4 id="button" style="margin-top:50px; margin-left:0px; margin-bottom:50px; color:purple;">
                <strong >Ficha Técnica</strong>
              </h4>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section style="background-color:#D0D2D3; padding:40px;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-6">
            <div class="section-right__top">
              <div class="video">
                <div class="video__iframe-wrapper">
                  {{#if model.audiencia.youtubeId}}
                    {{ember-youtube ytid=model.audiencia.youtubeId playerVars=(hash autoplay=0)}}
                  {{/if}}

                  {{#if model.audiencia.facebookVideoUrl}}
                    <div class="fb-video" data-href="{{model.audiencia.facebookVideoUrl}}" data-width="auto" data-show-text="false">
                      <blockquote cite="{{model.audiencia.facebookVideoUrl}}" class="fb-xfbml-parse-ignore">
                        <a href="{{model.audiencia.facebookVideoUrl}}"></a>
                      </blockquote>
                    </div>
                  {{/if}}
                </div>

              </div>
            </div>
            <div class="row" style="margin-bottom:1em; margin:0px">
              <div class="col-md-12 text-center" style="background-color:#29ABE2; padding-top:1em; padding-bottom:2em;">
              <h1 style="margin-top:50px; margin-left:0px; color:white;">
              <strong class="text-uppercase">{{model.audiencia.nombre}}</strong>
              </h1>
                <div class="section-right__bottom">
                  <div class="chat">
                    {{#twitter-feed}}
                      {{#if model.audiencia.twitterTimelineTag}}
                        {{{model.audiencia.twitterTimelineTag}}}
                      {{else}}
                        <a class="twitter-timeline"
                          href="https://twitter.com/hashtag/{{model.audiencia.twitterHashtag}}"
                          data-widget-id="sup"
                        >
                          #{{model.audiencia.twitterHashtag}} Tweets
                        </a>
                      {{/if}}
                    {{/twitter-feed}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <img class="banner__logo" src="/img/PORTAL_06-01.png" style="width: 100%;">
            <div class="row">
              <div class="col-md-12">
              SoundCloud Component goes here
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="text-center">
                  <div
                    class="fb-comments"
                    data-href="{{model.audiencia.facebookCommentsUrl}}"
                    data-width="auto"
                    data-numposts="10"
                  ></div>
                </div>
                <div class="row">
                  {{facebook-share
                  fb-layout='button_count'
                  classNames='column small-2 small-offset-8 text-right'
                  }}
                  {{twitter-share
                  count='horizontal'
                  hashtags=model.audiencia.twitterHashtag
                  classNames='column small-2 twitter-share-container text-left'
                  }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>
