<main class="home">
  <section class="section-top">
    <div class="banner">
      <img class="banner__logo" src="/img/front-banner.png" style="width: 100%;">
    </div>
  </section>
  <section class="section-top">
    <div class="banner">
      <img class="banner__logo" src="/img/PORTAL_AP-12.png" style="width: 100%;">
    </div>
  </section>

  <section style="background-color: #D0D2D3; padding: 25px;">
    <div class="container" style="background-color: #FFF;">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-3">
          </div>
          <div class="col-md-6 text-center">
            <h1><strong> Audiencias Públicas </strong></h1>
            <p class="text-center">
              Lorem ipsum dolor sit amet,
              consectetuer adipiscing elit.
              Aenean commodo ligula eget dolor.
              Aenean massa.
              Cum sociis natoque penatibus et magnis dis parturient montes,
              nascetur ridiculus mus.
          </p>
          </div>
          <div class="col-md-3">
          </div>
        </div>
      </div>

      <div class="row text-center">
        {{#each model as |audiencia|}}
          <div class="item">
            {{#if audiencia.thumbMedium}}
              {{#link-to 'audiencia' audiencia.id class='audiencia_link'}}
                <img src="{{audiencia.thumbMedium}}" alt="{{audiencia.nombre}}">
              {{/link-to}}
            {{else if audiencia.logo}}
              {{#link-to 'audiencia' audiencia.id class='audiencia_link'}}
                <img
                  src={{asset-map (concat 'img/ICONOS_TEXTO/' audiencia.logo)}}
                  alt={{audiencia.nombre}}
                >
              {{/link-to}}
            {{/if}}
          </div>
        {{/each}}
      </div>
    </div>
  </section>
</main>
